.modal{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  margin: auto;
  background-color: rgba(0,0,0,.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_contenedor{
  padding: 20px;
  background-color: #fff;
}

.modal-body{
  width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

