*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: all 0.5s ease;
}

.tarea-elemento p{
  min-width: 450px;
}

.tarea-elemento{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}