/* fondo rgba(27,26,51,255)
fondo-card rgba(10,11,34,255) */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

html, body{
  background-color: rgba(27,26,51,255);
  color: white;
  font-size: 18px
}


h1{
  max-width: 100%;
  font-size: 2.5em;
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contenedor-Principal{
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}