:root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  
  line-height: 1.1;
}


.contenedor-calculadora{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(88, 88, 224);
  width: 350px;
  height: 650px;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid black;
  gap: 10px ;
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.boton-contenedor{
  width: 100%; /* Esto asegura que ocupen el 100% del espacio disponible */
  height: 80px;
  background-color: rgb(112, 173, 42);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  margin: 4px;
  cursor: pointer;
  
}

.boton-contenedor:hover{
  background-color: rgb(11, 66, 250);
}

.operador{
  background-color: rgb(203, 142, 8);
}

.operador:hover{
  background-color: red;
}

.pantalla{
  width: 95%;
  height: 80px;
  background-color: rgb(83, 163, 179);
  border-radius: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 38px;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  padding: 0 5px;
}

.delete{
  background-color: red;
}

.delete:hover{
  background-color: rgba(236, 82, 82, 0.952);
}

.clear{
  background-color: blue;
}

.clear:hover{
  background-color: rgba(41, 135, 235, 0.952);
}



