section{
  display: flex;
  
  align-items: center;
  gap: 20px;
}

.clase{
  display: flex;
  flex-direction: column;
  place-items: center;
  max-width: 700px;
  margin: 0 auto;
  font-family: system-ui;
}

img{
  width: 200px;
}